body {
    background-image: url(Gemini_Generated_Image_pz2jrapz2jrapz2j.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin-left: 50px;
    margin-top: 80px;
}

.box1 form label,
input {
    font-size: 25px;
}

.p {
    display: flex;
    /* justify-content: space-around; */
    gap: 90px;
    /* max-res; */
    margin: 15px;
}

.p_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 371px;
    padding: 13px;
}

.q {
    margin: 15px;
}

.submit {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 10px 500px;
    align-items: center;
}


.submit button {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}